{% extends 'feed/base.html' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <img src="{{ profile.banner.url }}" width="100%" height="200px" style="overflow: hidden; object-fit: cover;">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <img src="{{ profile.image.url }}" width="100%" />
        </div>
        <div class="col-md-6">
            <h1>{{ profile.user.username }}</h1>
            <h4>Followers:
                <a href="{% url 'user:followers' profile.user.username %}?next={{ request.path }}">{{ profile.followers.all.count }}</a>
            </h4>
            <h5>{{ profile.birthday }}</h5>
            <h5>{{ profile.location }}</h5>
            <h4>{{ profile.bio }}</h4>
        </div>
        <div class="col-md-2">
            {% if profile.user != request.user %}
                {% if profile not in request.user.profile.following.all %}
                    <a href="{% url 'user:followProfile' profile.id %}?next={{ request.path }}" class="btn btn-success" style="margin-bottom: 5px;">Follow</a>
                {% endif %}
                {% if profile in request.user.profile.following.all %}
                    <a href="{% url 'user:unfollowProfile' profile.id %}?next={{ request.path }}" class="btn btn-secondary" style="margin-bottom: 5px;">Unfollow</a>
                {% endif %}
                <a href="#" class="btn btn-primary" style="margin-bottom: 5px;">Message</a>
            {% endif %}
            {% if profile.user == request.user %}
                <a href="{% url 'user:editProfile' profile.user.username %}?next={{ request.path }}" class="btn btn-warning">Edit Profile</a>
                <a href="{% url 'user:deleteUser' profile.user.username %}" class="btn btn-danger btn-sm">Delete Account</a>
            {% endif %}
        </div>
    </div>
    <br>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar">
            <a href="{% url 'user:profile' profile.user.username %}" class="nav-item nav-link text-light">Posts</a>
            <a href="{% url 'user:likedPosts' profile.user.username %}" class="nav-item nav-link text-light">Likes</a>
            {% if profile.user == request.user %}
                <a href="{% url 'user:followingPosts' profile.user.username %}" class="nav-item nav-link text-light">Following</a>
                <a href="{% url 'user:savedPosts' profile.user.username %}" class="nav-item nav-link text-light">Saved Posts</a>
            {% endif %}
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-md-3 offset-md-4">
            <form action="" method="GET">
                <input type="search" name="post_content" value="{{ request.GET.post_content }}">
                <button type="submit" class="btn btn-secondary btn-sm">Search</button>
            </form>
            {% if mode == 'profile' %}
                <div class="offset-md-2">
                    <a href="{% url 'user:profile' profile.user.username %}" class="btn btn-secondary btn-sm">Clear Search</a>
                </div>
            {% endif %}
            {% if mode == 'followingPosts' %}
                <div class="offset-md-2">
                    <a href="{% url 'user:followingPosts' profile.user.username %}" class="btn btn-secondary btn-sm">Clear Search</a>
                </div>
            {% endif %}
            {% if mode == 'likedPosts' %}
                <div class="offset-md-2">
                    <a href="{% url 'user:likedPosts' profile.user.username %}" class="btn btn-secondary btn-sm">Clear Search</a>
                </div>
            {% endif %}
            {% if mode == 'savedPosts' %}
                <div class="offset-md-2">
                    <a href="{% url 'user:savedPosts' profile.user.username %}" class="btn btn-secondary btn-sm">Clear Search</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% for post in post_list %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <a href="{% url 'feed:postDetail' post.id %}">
                    <h2>{{ post.title }}</h2>
                </a>
                <a href="{% url 'user:profile' post.user.username %}">
                    <div class="col-md-4">
                        <div class="row">
                            <img src="{{ post.user.profile.image.url }}" height="30px" style="margin-right:5px;" />
                            <h6>{{ post.user.username }}</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-2">
                <a href="{% url 'feed:postDetail' post.id %}">
                    <img class="card" width="200px" src="{{ post.image.url }}" />
                </a>
            </div>
            <div class="col-md-4">
                <h4>{{ post.content|truncatewords_html:50 }}</h4>
            </div>
            <div class="col-md-2 offset-md-1">
                <a href="{% url 'feed:postDetail' post.id %}" class="btn btn-primary">Expand</a>
                {% if request.user.profile not in post.likes.all %}
                    <a href="{% url 'feed:likePost' post.id %}?next={{ request.path }}" class="btn btn-success btn-sm">Like Post</a>
                {% endif %}
                {% if request.user.profile in post.likes.all %}
                    <a href="{% url 'feed:unlikePost' post.id %}?next={{ request.path }}" class="btn btn-secondary btn-sm">Unlike Post</a>
                {% endif %}
                {% if post not in request.user.profile.savedPosts.all  %}
                    <a href="{% url 'feed:savePost' post.id %}?next={{ request.path }}" class="btn btn-info btn-sm">Save Post</a>
                {% endif %}
                {% if post in request.user.profile.savedPosts.all %}
                    <a href="{% url 'feed:unsavePost' post.id %}?next={{ request.path }}" class="btn btn-secondary btn-sm">Unsave Post</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-2">
                {% load tz %}
                {% timezone request.user.profile.timezone %}
                <h6>{{ post.datetime }}</h6>
                {% endtimezone %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-2">
                <h6>Likes: {{ post.likes.count }}</h6>
            </div>
        </div>
        <hr>
    {% endfor %}
    <div class="row">
        <div class="col-md-4 offset-md-5">
            {% if post_list.has_previous %}
                <a href="?page=1{% if request.GET.post_content is not None %}&post_content={{ request.GET.post_content }}{% endif %}" class="btn btn-info">First</a>
                <a href="?page={{ post_list.previous_page_number }}{% if request.GET.post_content is not None %}&post_content={{ request.GET.post_content }}{% endif %}" class="btn btn-info">Previous</a>
            {% endif %}
            Page: {{ post_list.number }} of {{ post_list.paginator.num_pages }}
            {% if post_list.has_next %}
                <a href="?page={{ post_list.next_page_number }}{% if request.GET.post_content is not None %}&post_content={{ request.GET.post_content }}{% endif %}" class="btn btn-info">Next</a>
                <a href="?page={{ post_list.paginator.num_pages }}{% if request.GET.post_content is not None %}&post_content={{ request.GET.post_content }}{% endif %}" class="btn btn-info">Last</a>
            {% endif %}
        </div>
    </div>
    <br>
{% endblock %}
